.benefits-container {
    width: 100%;
    padding-bottom: 120px;
    border-top: 1px solid #E9E9E9;
}

.headline-and-icons {
    padding-top: 80px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.icons-module {
    padding-top: 40px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.icon-lockup {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 0;
    gap: 24px;
    border-top: 1px solid #E9E9E9;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-image {
  margin-bottom: 40px;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  background-image: url("hero-image.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 665px;
}

@media (max-width: 1279px) {
    .icons-module {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}

@media (max-width: 799px) {
    .icons-module {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        padding-bottom: 60px;
    }
}