.logo-cloud-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 30px;
}

.label {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: -0.5%;
    color: #6F6F6F;
}

.logo-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.logo-img {
    padding: 20px;
    min-width: 150px;
}

@media (max-width: 1279px) {
    .logo-row {
        gap: 10px;
    }
}