.testimonial-container {
    width: 100%;
    padding-bottom: 120px;
    display: flex;
    gap: 20px;
}

.testimonial-image {
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    background-image: url("testimonial-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 670px;
}

.testimonial-quote {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 50px !important;
    justify-content: center;
    /* padding: 120px 0; */
}

.quote-author {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 1279px) {
    .testimonial-container {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 799px) {
    .testimonial-image {
        max-height: 100vw;
    }
}