@import "tailwindcss";
@import "./landing-page/components/navbar.css";
@import "./landing-page/components/header.css";
@import "./landing-page/components/logoCLoud.css";
@import "./landing-page/components/benefits.css";
@import "./landing-page/components/connect.css";
@import "./landing-page/components/footer.css";
@import "./landing-page/components/features-carousel.css";
@import "./landing-page/components/specifications.css";
@import "./landing-page/components/testimonial.css";
@import "./landing-page/components/how-it-works.css";

html,
body {
  
}

.main-page {
  padding: 0 40px;
}

.color-paragraph {
  color: #6F6F6F
}

.color-captions {
  color: #485C11
}

.color-accent-6 {
  color: #929292
}


.display-text {
    font-size: 160px;
    line-height: 85%;
    letter-spacing: -5%;
}

.link-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: -2.5%;
}

.captions-text {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -1%;
}

.paragraph-text {
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.5%;
}

.heading-1-text {
  font-size: 60px;
  line-height: 90%;
  letter-spacing: -3%;
}

.heading-2-text {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -4%;
}

.heading-3-text {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -3%;
}

.display-stats-text {
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -4%;
}

.learn-more-btn {
  padding: 14px 20px;
  background-color: #485C11;
  border-radius: 24px;
  height: 48px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover-more-btn {
    height: 48px;
    padding: 14px 22px;
    width: fit-content;
    background-color: #DFECC6;
    border-radius: 24px;
}

.nav-items {
  display: flex;
  gap: 27px;
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}

.hero-image {
  margin-bottom: 40px;
  border-radius: 30px;
  overflow: hidden;
  width: 100%;
  background-image: url("./landing-page/components/hero-image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 665px;
}

.autoShow {
  animation: autoShowAnimation;
  animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1279px){
  .display-text {
    font-size: 140px;
    line-height: 90%;
    letter-spacing: -5%;
  }

  .captions-text {
    font-size: 11px;
  }

  .heading-1-text {
    font-size: 54px;
  }

  .heading-2-text {
    line-height: 110%;
  }

}

@media (max-width: 799px){

  .main-page {
    padding: 0 16px;
  }

  .display-text {
    font-size: 76px;
    line-height: 85%;
    letter-spacing: -4.5%;
  }

  .captions-text {
    font-size: 10.5px;
    letter-spacing: -3%;
  }

  .heading-1-text {
    font-size: 50px;
    line-height: 95%;
  }

  .heading-2-text {
    font-size: 32px;
    line-height: 110%;
  }

  .display-stats-text {
    font-size: 64px;
  }

  .nav-items {
    flex-direction: column;
    align-items: baseline;
  }
}